#ifndef RESOURCE_RC
#define RESOURCE_RC

#include "..//src//resource.h"

#include <windows.h>

IDI_ICON ICON "icon.ico"

IDC_CONTEXTMENU MENU
BEGIN
    POPUP ""
    BEGIN
    MENUITEM "About", IDM_ABOUT
    MENUITEM SEPARATOR
    MENUITEM "Exit", IDM_EXIT
    END
END

#endif